:root {
  --font-serif: "Charter", "Bitstream Charter", Cambria, Georgia, serif;
  --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--font-sans);

  --color: light-dark(#213547, rgb(255 255 255 / 0.87));
  --background-color: light-dark(#ffffff, #242424);
  --button-background-color: light-dark(#f9f9f9, #1a1a1a);
  --separator-color: light-dark(#1a1a1a, #f9f9f9);
  --link-color: #646cff;
  --link-hover-color: light-dark(#535bf2, #747bff);

  color-scheme: light dark;
  background-color: var(--background-color);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;

  &:hover {
    color: var(--link-hover-color);
  }
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

div.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

button,
input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background-color);
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: rgb(0 0 0 / 0.1) 0px 1px 3px 0px,
    rgb(0 0 0 / 0.06) 0px 1px 2px 0px;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  span {
    font-size: 0.8em;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;

  .emoji {
    font-size: 2em;
  }

  form {
    display: flex;
    gap: 0.5em;
  }
}

main#outlet {
  margin-bottom: 2em;
  text-align: center;
}

.release {
  .cover-image {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    margin-bottom: 2em;
  }

  h1 {
    font-size: 3.5em;
    margin: 0;
  }

  h2 {
    margin-top: 0;
    border-bottom: var(--separator-color) solid 1px;
    display: inline-block;
  }

  h1,
  h2 {
    font-family: var(--font-serif);
    max-width: 600px;
    line-height: 1.4;
    overflow-wrap: break-word;
    word-break: break-word; /* extra fallback for some edge cases */
    hyphens: auto;
  }
}
