/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

:root {
    --font-serif: "Charter", "Bitstream Charter", Cambria, Georgia, serif;
    --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-family: var(--font-sans);

    --bg-dark: light-dark(oklch(0.92 0.005 156), oklch(0.1 0.005 156));
    --bg: light-dark(oklch(0.96 0.005 156), oklch(0.15 0.005 156));
    --bg-light: light-dark(oklch(1 0.005 156), oklch(0.2 0.005 156));
    --text: light-dark(oklch(0.15 0.01 156), oklch(0.96 0.01 156));
    --text-muted: light-dark(oklch(0.4 0.01 156), oklch(0.76 0.01 156));
    --highlight: light-dark(oklch(1 0.01 156), oklch(0.5 0.01 156));
    --border: light-dark(oklch(0.6 0.01 156), oklch(0.4 0.01 156));
    --border-muted: light-dark(oklch(0.7 0.01 156), oklch(0.3 0.01 156));
    --primary: light-dark(oklch(0.4 0.1 156), oklch(0.76 0.1 156));
    --secondary: light-dark(oklch(0.4 0.1 336), oklch(0.76 0.1 336));
    --shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
    --gradient: linear-gradient(0deg, var(--bg) 97%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --border-card: solid 1px var(--border-muted);
    --transition: all 0.3s ease-in-out;
    /*

    --color: light-dark(#213547, rgba(255, 255, 255, 0.87));
    --background-color: light-dark(#ffffff, #242424);
    --button-background-color: light-dark(#f9f9f9, #1a1a1a);
    --separator-color: light-dark(#1a1a1a, #f9f9f9);
    --highlight-color: hsl(120, 63%, 45%);
    --highlight-hover: light-dark(
        hsl(from var(--highlight-color) h s 25%),
        hsl(from var(--highlight-color) h s 55%)
    );*/

    color-scheme: light dark;
    background-color: var(--bg-dark);
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--text-muted);
    text-decoration: inherit;

    /*&:hover {
        color: var(--highlight-hover);
    }*/
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

div.main {
    width: min(600px, 100%);
    margin: 0 auto;
    padding: 1rem 2rem;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

button,
input {
    border: var(--border-card);
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--bg-light);
    cursor: pointer;
    transition: border-color 0.25s;
    box-shadow: var(--shadow);
    position: relative;
    overflow: hidden;

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }

    span {
        font-size: 0.8em;
    }
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: linear-gradient(
        to right,
        #ffffff00 0%,
        var(--border),
        #ffffff00 100%
    );

    transition: var(--transition);
    transform: skewX(-20deg);
}

button:hover::before {
    left: 100%;
}

header {
    border-radius: 10;
    box-shadow: var(--shadow);
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;

    .emoji {
        font-size: 2em;
    }

    form {
        display: flex;
        gap: 0.5em;
    }

    @media (max-width: 590px) {
        align-items: flex-end;
        flex-direction: column;
    }

    @media (max-width: 490px) {
        .icon {
            display: none;
        }
    }
}

main#outlet {
    margin-bottom: 2em;
    text-align: center;
}

.release {
    .cover-image {
        display: flex;
        place-items: center;
        justify-content: center;
        max-width: 600px;
        margin-bottom: 2em;

        img {
            box-shadow: var(--shadow);
        }
    }

    h1 {
        color: var(--text);
        font-size: 3.5em;
        margin: 0;
    }

    h2 {
        color: var(--text);
        margin-top: 0;
        border-bottom: var(--border-muted) solid 1px;
        display: inline-block;
    }

    h1,
    h2 {
        font-family: var(--font-serif);
        max-width: 600px;
        line-height: 1.4;
        overflow-wrap: break-word;
        word-break: break-word; /* extra fallback for some edge cases */
        hyphens: auto;
    }
}
